*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : "Segoe UI",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg,#0f172a,#0ea5e9);
    min-height : 100vh;
    display : flex;
    justify-content : center;
    align-items : flex-start;
    padding : 20px;
}

.container{
    background : #ffffff;
    padding : 20px;
    border-radius : 16px;
    box-shadow : 0 8px 20px rgba(0,0,0,0.1);
    max-width : 480px;
    width : 100%;
    text-align : center;
    backdrop-filter: blur(4px);
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }

  form input,
  form select, 
  form button {
    font-size: 13px;
    padding: 8px;
  }
  .totals p {
    font-size: 13px;
  }
  #transaction-list li {
    font-size: 13px;
    padding: 8px;
  }
}


h1{
    color : #0f172a;
    letter-spacing: 1px;
    margin-bottom : 20px;
    font-size:1.8rem;
}

form{
    display : flex;
    flex-direction : column;
    gap : 10px;
    margin-bottom : 20px;
}

form input,
form select,
form button {
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 14px;
  font-size: 14px;
  outline: none;
}

form input:focus,
form select:focus {
  border-color: #cdb4db;
  box-shadow: 0 0 4px rgba(205, 180, 219, 0.7);
}

form button {
  background: linear-gradient(135deg, #0284c7, #0ea5e9);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

form button:hover {
  opacity: 0.9;
}

/* Totals */
.totals {
  margin: 20px 0;
  background: #f1f5f9;
  padding: 15px;
  border-radius: 12px;
  text-align: left;
}

.totals p {
  margin: 6px 0;
  font-size: 15px;
  color: #333;
}

.totals span {
  font-weight: bold;
  color: #5d3a6a;
}

/* Transaction List */
#transaction-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

#transaction-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #e0f2fe;
  margin: 6px 0;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  transition: transform 0.2s ease;
}

#transaction-list li:hover {
  transform: translateX(4px);
}

#transaction-list li.income {
  border-left: 6px solid #22c55e;
}

#transaction-list li.expense {
  border-left: 6px solid #ef4444;
}

.delete-btn {
  background: none;
  border: none;
  font-weight: bold;
  color: #ff6b6b;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.delete-btn:hover {
  transform: scale(1.2);
}

canvas {
  width: 100%;
  height: auto;
  margin-top: 20px;
  max-width: 100%;
}
